@import "theme";

#post {
	padding:0 0.25rem;
	background-color:#FFF;
	img {width:100%;height:auto;}
	&-container {
		h1 {color:$color-main-dark;}
		background-color:$color-neutral;
		padding-left:0.5rem;
		padding-right:0.5rem;
		min-height:500px;
	}
	p {
		@include fluid-type('font-size', $min-vw, $max-vw, 1rem, 1.5rem);
	}
}

#article-content {
	h2, h3, h4, h5, h6 {color:$color-main;}
}

aside h2 { 
	margin-top:0; 
	color:$color-main-dark;
}