@import url('https://fonts.googleapis.com/css?family=Karla|Roboto:700');

$color-main: #368c25;
$color-main-dark: #235a18;
$color-secondary: #324250;

$font-headings: 'Roboto', 'Arial', sans-serif;
$font-paragraphs: 'Karla', 'Arial', sans-serif;